<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shhxzq.fin.ehelper.mapper.BeCommandMapper">
    <resultMap id="BaseResultMap" type="com.shhxzq.fin.ehelper.model.vo.BeCommand">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <result column="bnk_no" property="bnkNo" jdbcType="VARCHAR"/>
        <result column="mer_org_serial_no" property="merOrgSerialNo" jdbcType="VARCHAR"/>
        <result column="bnk_org_serial_no" property="bnkOrgSerialNo" jdbcType="VARCHAR"/>
        <result column="mer_date" property="merDate" jdbcType="VARCHAR"/>
        <result column="mer_time" property="merTime" jdbcType="VARCHAR"/>
        <result column="mer_org_date" property="merOrgDate" jdbcType="VARCHAR"/>
        <result column="mer_org_time" property="merOrgTime" jdbcType="VARCHAR"/>
        <result column="bnk_org_date" property="bnkOrgDate" jdbcType="VARCHAR"/>
        <result column="bnk_org_time" property="bnkOrgTime" jdbcType="VARCHAR"/>
        <result column="last_try_date" property="lastTryDate" jdbcType="VARCHAR"/>
        <result column="last_try_time" property="lastTryTime" jdbcType="VARCHAR"/>
        <result column="last_snd_date" property="lastSndDate" jdbcType="VARCHAR"/>
        <result column="last_snd_time" property="lastSndTime" jdbcType="VARCHAR"/>
        <result column="last_qry_serial_no" property="lastQrySerialNo" jdbcType="VARCHAR"/>
        <result column="last_qry_date" property="lastQryDate" jdbcType="VARCHAR"/>
        <result column="last_qry_time" property="lastQryTime" jdbcType="VARCHAR"/>
        <result column="input_date" property="inputDate" jdbcType="VARCHAR"/>
        <result column="input_time" property="inputTime" jdbcType="VARCHAR"/>
        <result column="mer_tran_co" property="merTranCo" jdbcType="VARCHAR"/>
        <result column="bnk_tran_co" property="bnkTranCo" jdbcType="VARCHAR"/>
        <result column="mer_org_tran_co" property="merOrgTranCo" jdbcType="VARCHAR"/>
        <result column="bnk_org_tran_co" property="bnkOrgTranCo" jdbcType="VARCHAR"/>
        <result column="tran_tp" property="tranTp" jdbcType="VARCHAR"/>
        <result column="syn_flg" property="synFlg" jdbcType="VARCHAR"/>
        <result column="bat_flg" property="batFlg" jdbcType="VARCHAR"/>
        <result column="acount" property="acount" jdbcType="DECIMAL"/>
        <result column="retry_flg" property="retryFlg" jdbcType="VARCHAR"/>
        <result column="retry_max_time" property="retryMaxTime" jdbcType="DECIMAL"/>
        <result column="retry_interval" property="retryInterval" jdbcType="DECIMAL"/>
        <result column="retry_counter" property="retryCounter" jdbcType="DECIMAL"/>
        <result column="resnd_flg" property="resndFlg" jdbcType="VARCHAR"/>
        <result column="resnd_max_time" property="resndMaxTime" jdbcType="DECIMAL"/>
        <result column="resnd_interval" property="resndInterval" jdbcType="DECIMAL"/>
        <result column="resnd_counter" property="resndCounter" jdbcType="DECIMAL"/>
        <result column="qry_flg" property="qryFlg" jdbcType="VARCHAR"/>
        <result column="qry_tran_co" property="qryTranCo" jdbcType="VARCHAR"/>
        <result column="qry_max_time" property="qryMaxTime" jdbcType="DECIMAL"/>
        <result column="qry_interval" property="qryInterval" jdbcType="DECIMAL"/>
        <result column="qry_counter" property="qryCounter" jdbcType="DECIMAL"/>
        <result column="priority" property="priority" jdbcType="DECIMAL"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="product_tp" property="productTp" jdbcType="VARCHAR"/>
        <result column="cur_co" property="curCo" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="fee_amt" property="feeAmt" jdbcType="DECIMAL"/>
        <result column="tran_purpose" property="tranPurpose" jdbcType="VARCHAR"/>
        <result column="tran_remark" property="tranRemark" jdbcType="VARCHAR"/>
        <result column="ref_app_no" property="refAppNo" jdbcType="VARCHAR"/>
        <result column="ref_app_kind" property="refAppKind" jdbcType="VARCHAR"/>
        <result column="rcvr_bnk_no" property="rcvrBnkNo" jdbcType="VARCHAR"/>
        <result column="rcvr_acct_no" property="rcvrAcctNo" jdbcType="VARCHAR"/>
        <result column="rcvr_acct_nm" property="rcvrAcctNm" jdbcType="VARCHAR"/>
        <result column="rcvr_id_tp" property="rcvrIdTp" jdbcType="VARCHAR"/>
        <result column="rcvr_id_no" property="rcvrIdNo" jdbcType="VARCHAR"/>
        <result column="rcvr_province" property="rcvrProvince" jdbcType="VARCHAR"/>
        <result column="rcvr_city" property="rcvrCity" jdbcType="VARCHAR"/>
        <result column="rcvr_area_co" property="rcvrAreaCo" jdbcType="VARCHAR"/>
        <result column="rcvr_area_nm" property="rcvrAreaNm" jdbcType="VARCHAR"/>
        <result column="rcvr_mer_id" property="rcvrMerId" jdbcType="VARCHAR"/>
        <result column="rcvr_mer_cert_id" property="rcvrMerCertId" jdbcType="VARCHAR"/>
        <result column="rcvr_post_id" property="rcvrPostId" jdbcType="VARCHAR"/>
        <result column="rcvr_contract_no" property="rcvrContractNo" jdbcType="VARCHAR"/>
        <result column="rcvr_contract_dt" property="rcvrContractDt" jdbcType="VARCHAR"/>
        <result column="rcvr_proto_no" property="rcvrProtoNo" jdbcType="VARCHAR"/>
        <result column="rcvr_mer_user_tp" property="rcvrMerUserTp" jdbcType="VARCHAR"/>
        <result column="rcvr_mer_user_id" property="rcvrMerUserId" jdbcType="VARCHAR"/>
        <result column="rcvr_bnk_user_tp" property="rcvrBnkUserTp" jdbcType="VARCHAR"/>
        <result column="rcvr_bnk_user_id" property="rcvrBnkUserId" jdbcType="VARCHAR"/>
        <result column="rcvr_resv1" property="rcvrResv1" jdbcType="VARCHAR"/>
        <result column="rcvr_resv2" property="rcvrResv2" jdbcType="VARCHAR"/>
        <result column="sndr_bnk_no" property="sndrBnkNo" jdbcType="VARCHAR"/>
        <result column="sndr_name" property="sndrName" jdbcType="VARCHAR"/>
        <result column="sndr_acct_no" property="sndrAcctNo" jdbcType="VARCHAR"/>
        <result column="sndr_acct_nm" property="sndrAcctNm" jdbcType="VARCHAR"/>
        <result column="sndr_id_tp" property="sndrIdTp" jdbcType="VARCHAR"/>
        <result column="sndr_id_no" property="sndrIdNo" jdbcType="VARCHAR"/>
        <result column="sndr_province" property="sndrProvince" jdbcType="VARCHAR"/>
        <result column="sndr_city" property="sndrCity" jdbcType="VARCHAR"/>
        <result column="sndr_area_co" property="sndrAreaCo" jdbcType="VARCHAR"/>
        <result column="sndr_area_nm" property="sndrAreaNm" jdbcType="VARCHAR"/>
        <result column="sndr_mer_id" property="sndrMerId" jdbcType="VARCHAR"/>
        <result column="sndr_mer_cert_id" property="sndrMerCertId" jdbcType="VARCHAR"/>
        <result column="sndr_post_id" property="sndrPostId" jdbcType="VARCHAR"/>
        <result column="sndr_contract_no" property="sndrContractNo" jdbcType="VARCHAR"/>
        <result column="sndr_contract_dt" property="sndrContractDt" jdbcType="VARCHAR"/>
        <result column="sndr_proto_no" property="sndrProtoNo" jdbcType="VARCHAR"/>
        <result column="sndr_mer_user_tp" property="sndrMerUserTp" jdbcType="VARCHAR"/>
        <result column="sndr_mer_user_id" property="sndrMerUserId" jdbcType="VARCHAR"/>
        <result column="sndr_bnk_user_tp" property="sndrBnkUserTp" jdbcType="VARCHAR"/>
        <result column="sndr_bnk_user_id" property="sndrBnkUserId" jdbcType="VARCHAR"/>
        <result column="sndr_resv1" property="sndrResv1" jdbcType="VARCHAR"/>
        <result column="sndr_resv2" property="sndrResv2" jdbcType="VARCHAR"/>
        <result column="lock_st" property="lockSt" jdbcType="VARCHAR"/>
        <result column="tran_st" property="tranSt" jdbcType="VARCHAR"/>
        <result column="rvrs_st" property="rvrsSt" jdbcType="VARCHAR"/>
        <result column="product_nm" property="productNm" jdbcType="VARCHAR"/>
        <result column="app_version" property="appVersion" jdbcType="VARCHAR"/>
        <result column="sndr_bnk_branch_name" property="sndrBnkBranchName" jdbcType="VARCHAR"/>
        <result column="rcvr_bnk_branch_name" property="rcvrBnkBranchName" jdbcType="VARCHAR"/>
        <result column="app_source" property="appSource" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>