<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shhxzq.fin.ehelper.mapper.BeEngineMapper">
    <resultMap id="BaseResultMap" type="com.shhxzq.fin.ehelper.model.vo.BeEngine">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="eng_id" property="engId" jdbcType="VARCHAR"/>
        <result column="eng_nm" property="engNm" jdbcType="VARCHAR"/>
        <result column="eng_st" property="engSt" jdbcType="VARCHAR"/>
        <result column="eng_ky" property="engKy" jdbcType="VARCHAR"/>
        <result column="eng_co" property="engCo" jdbcType="VARCHAR"/>
        <result column="impl" property="impl" jdbcType="VARCHAR"/>
        <result column="auto_start_flg" property="autoStartFlg" jdbcType="CHAR"/>
        <result column="run_interval" property="runInterval" jdbcType="DECIMAL"/>
        <result column="interval_tp" property="intervalTp" jdbcType="VARCHAR"/>
        <result column="time_out" property="timeOut" jdbcType="DECIMAL"/>
        <result column="time_out_tp" property="timeOutTp" jdbcType="VARCHAR"/>
        <result column="str_time_one" property="strTimeOne" jdbcType="VARCHAR"/>
        <result column="end_time_one" property="endTimeOne" jdbcType="VARCHAR"/>
        <result column="str_time_two" property="strTimeTwo" jdbcType="VARCHAR"/>
        <result column="end_time_two" property="endTimeTwo" jdbcType="VARCHAR"/>
        <result column="str_time_three" property="strTimeThree" jdbcType="VARCHAR"/>
        <result column="end_time_three" property="endTimeThree" jdbcType="VARCHAR"/>
        <result column="c_man" property="cMan" jdbcType="VARCHAR"/>
        <result column="e_man" property="eMan" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="offset_time" property="offsetTime" jdbcType="INTEGER"/>
    </resultMap>
</mapper>