html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    position: relative;
}

/*simpage*/
.sim-page {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.sim-page-loading {
    color: #ff0000 !important;
}

/*page-error*/
.page-error {
    text-align: center;
    margin-top: 80px;
}


/*navbar*/
#navbar {
    color: #ccc;
    background: #333;
    height: 60px;
}

#navbar ul {
    list-style: none;
    width: 1200px;
    margin: 0 auto;
    padding-left: 0;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    height: 60px;
    width: 90px;
    line-height: 60px;
    color: #ccc;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    text-align: center;
}

#navbar ul li a:hover {
    background: #000;
}

#navbar ul li:first-child a {
    font-size: 22px;
    margin-right: 40px;
    width: 120px;
    color: #fff;
}

/*footer*/
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    color: #ccc;
    background: #333;
}

#footer div {
    width: 1200px;
    margin: 0 auto;
}

#footer > div > p {
    font-size: 13px;
}

#footer > div > p.f {
    color: #fff;
}