html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    position: relative;
}

a {
    color: #000;
    text-decoration: none;
}

/*simpage*/
.sim-page {
    width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 150px;
}

.sim-page-loading {
    color: #ff0000 !important;
}

/*page-error*/
.page-error {
    text-align: center;
    margin-top: 80px;
}

/*navbar*/
#navbar {
    color: #ccc;
    background: #000;
    height: 60px;
}

#navbar ul {
    list-style: none;
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    height: 60px;
    width: 90px;
    line-height: 60px;
    color: #ccc;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    text-align: center;
}

#navbar ul li a:hover {
    background: #333;
}

#navbar ul li:first-child a {
    font-size: 22px;
    margin-right: 20px;
    width: 120px;
    color: #fff;
}

/*footer*/
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    color: #ccc;
    background: #000;
}

#footer div {
    width: 1024px;
    margin: 0 auto;
}

#footer > div > p {
    font-size: 13px;
}

#footer > div > p.f {
    color: #fff;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.width-48 {
    width: 48%;
}

.form {
    clear: both;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
}

.form .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.form input[type="text"] {
    border: 1px solid #333;
    text-indent: 10px;
    outline: none;
    padding: 3px 0;
    width: 100%;
    height: 28px;
    font-size: 13px;
}

.form button {
    margin-top: 20px;
}

.form label {
    display: block;
}

.input-group {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.mt-20 {
    margin-top: 20px;
}

.clear {
    clear: both;
}

.result {
    margin-top: 20px;
}

.result pre {
    font-size: inherit;
    color: #333;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.42857143;
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-top: 0;
}

.green {
    color: green;
}

.underline {
    text-decoration: underline;
}

.ele-title {
    font-size: 16px;
    font-weight: 500;
}

.func-list .func-item {
    width: 470px;
    height: 380px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.func-list .func-item:last-child {
    margin-right: 0px;
}

.func-list .func-item img {
    display: block;
    width: 480px;
    height: 280px;
    margin: 0 auto;
}

.func-list .func-item p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr td, th {
    border: 1px solid #555;
    padding: 6px 10px;
}

.table a {
    color: #555;
}